@mixin VerticalCHorizonC {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin VerticalC {
  display: flex;
  justify-self: center;
}
@mixin flexspaceBetween {
  display: flex;
  justify-content: space-between;
}
.productsContainer {
  margin-left: 50px;
}
.Products {
  max-width: 1500px;
  min-width: 1200px;
  width: 80vw;
  margin: 100px auto;

  .p_titleContainer {
    // width: 1500px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    .p_title {
      font-family: Helvetica, Arial, sans-serif;
      color: #1a1a1a;
      font-size: 30px;
      font-weight: 700;
    }
    .seeall {
      display: flex;
      justify-content: flex-end;
      font-size: 16px;
      font-weight: 650;
      text-decoration: underline;
      color: #1a1a1a;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.p_productDisplay {
  display: grid;
  max-width: 1500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 10px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}
