.checkout_Container {
  margin: 200px 0 80px 100px;
}
// top selection circle(selected)
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: black !important;
  width: 30px;
  height: 30px;
}
// top selection circle(non-selected)
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  width: 30px !important;
  height: 30px !important;
}
.continueshop_butt {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
  padding: 15px;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: #f9f9f9;
  }
}
//Next Step button
.css-1uvyrp-MuiButtonBase-root-MuiButton-root {
  font-weight: 700 !important;
  color: white !important;
  background-color: black !important;

  text-transform: none !important;
  padding: 10px !important;
  font-size: 16px !important;

  &:hover {
    background-color: #2a2a2a !important;
  }
}
// .css-1azxmo-MuiButtonBase-root-MuiButton-root {
//   color: white !important;
//   background-color: black !important;
//   font-weight: 700 !important;
//   text-transform: none !important;

//   font-size: 16px !important;

//   &:hover {
//     background-color: #2a2a2a !important;
//   }
// }
.checkout_subtotal {
  color: #4a4a4a;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin: 1rem 0;
}
.checkout_amount {
  display: flex;
  justify-content: flex-end;
  margin: 1.2rem 0;
  color: #1a1a1a;
  font-size: 24px;
}

.step1_title {
  margin: 1.5rem 0;
  text-align: center;
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 700;
}
.step1_subtitle {
  text-align: center;
  color: #4a4a4a;
  font-size: 14px;
  margin-bottom: 1.2rem;
}
.display_shoppingcartlist {
  margin-bottom: 2rem;
}
