body {
  margin: 0;
  font-family: Tajawal, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}

.searchContainer {
  display: flex;
  width: 500px;
  height: 40px;
}

.navigationBar {
  display: grid;
  grid-template-columns: 1fr 5fr 4fr 4fr;
  column-gap: 20px;
  width: 100vw;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
}

.logo {
  margin-left: 50px;
  width: 150px;
  display: grid;
  align-items: center;
}

.logo .eyewearlogo {
  width: 140px;
  height: 80px;
}

.navMenu {
  min-width: 450px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMenu .navButt {
  margin: 0 10px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #848484;
  border-radius: 5px;
  text-decoration: none;
}

.navMenu .navButt:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.search {
  width: 350px;
  height: 40px;
  display: flex;
  justify-self: center;
  border: 1px solid rgba(225, 225, 225, 0.6);
  background-color: white;
}

.search .searchsvg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search input {
  border: none;
}

.search input:focus {
  outline: none;
}

.userMenu {
  width: 300px;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}

.userMenu .shoppingsvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  position: relative;
}

.userMenu .shoppingsvg:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.userMenu .shoppingsvg .addNumber {
  position: absolute;
  top: -5px;
  right: 7px;
  color: white;
  background-color: red;
  font-size: 14px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userMenu .signUpIn {
  width: 250px;
  display: flex;
}

.userMenu .signUpIn button {
  width: 95px;
  margin: 0 15px;
  padding: 10px;
  color: #848484;
  background-color: transparent;
  border: 1px solid whitesmoke;
}

.userMenu .signUpIn .signUp {
  background-color: #101010;
  color: white;
  border: 1px solid #101010;
}

.userMenu .signUpIn .signUp:hover {
  cursor: pointer;
  background-color: rgba(16, 16, 16, 0.9);
}

.userMenu .signUpIn .signIn {
  background-color: #f2f2f2;
  border: 1px solid #e1e1e1;
}

.userMenu .signUpIn .signIn:hover {
  cursor: pointer;
  background-color: white;
}

.active {
  color: #101010 !important;
}

.good {
  color: blue;
}

.ifsigned_dropdown {
  width: 150px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 60px;
  right: 0;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.ifsigned_dropdown div {
  padding: 10px;
}

.ifsigned_dropdown div:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.ifsigned_dropdown .user_viewAccount {
  border-bottom: 0.5px solid #f9f9f9;
}

.ifSignedContainer {
  position: relative;
}

.ifsigned_dropdownhidden {
  display: none;
}

.ifsigned_dropdownhidden:hover {
  cursor: pointer;
}

.signupInfo_svg:hover {
  cursor: pointer;
}

.linkaccount,
.linksignin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
