@mixin VerticalCHorizonC {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin VerticalC {
  display: flex;
  justify-self: center;
}
@mixin flexspaceBetween {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family: Tajawal, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  //   height: 1000px;
}
.searchContainer {
  display: flex;
  width: 500px;
  height: 40px;
}
.navigationBar {
  display: grid;
  grid-template-columns: 1fr 5fr 4fr 4fr;
  column-gap: 20px;
  width: 100vw;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
}
.logo {
  margin-left: 50px;
  width: 150px;
  //   height: 120px;
  display: grid;
  align-items: center;
  .eyewearlogo {
    width: 140px;
    height: 80px;
  }
}
.navMenu {
  min-width: 450px;
  height: 50px;
  @include VerticalCHorizonC();
  .navButt {
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #848484;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      background-color: rgba(245, 245, 245, 1);
    }
  }
}
.search {
  width: 350px;
  height: 40px;
  @include VerticalC();

  border: 1px solid rgba(225, 225, 225, 0.6);
  background-color: white;
  .searchsvg {
    @include VerticalCHorizonC();
    padding: 10px;
  }
  input {
    border: none;
    &:focus {
      outline: none;
    }
  }
}
.userMenu {
  width: 300px;

  @include flexspaceBetween();
  justify-content: flex-end;
  .shoppingsvg {
    @include VerticalCHorizonC();
    width: 80px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    &:hover {
      cursor: pointer;
      background-color: rgb(242, 242, 242);
    }
    .addNumber {
      position: absolute;
      top: -5px;
      right: 7px;
      color: white;
      background-color: red;
      font-size: 14px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      @include VerticalCHorizonC();
    }
  }
  .signUpIn {
    width: 250px;
    display: flex;
    button {
      width: 95px;
      //   height: 50px;
      margin: 0 15px;
      padding: 10px;
      color: #848484;
      background-color: transparent;
      border: 1px solid rgba(245, 245, 245, 1);
    }
    .signUp {
      background-color: rgba(16, 16, 16, 1);
      color: white;
      border: 1px solid #101010;
      &:hover {
        cursor: pointer;
        background-color: rgba(16, 16, 16, 0.9);
      }
    }
    .signIn {
      background-color: rgb(242, 242, 242);
      border: 1px solid #e1e1e1;
      &:hover {
        cursor: pointer;
        background-color: white;
      }
    }
  }
}
.active {
  color: #101010 !important;
}
.good {
  color: blue;
}
// .false {
//   color: yellow;
// }
.ifsigned_dropdown {
  width: 150px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 60px;
  right: 0;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  font-size: 15px;

  div {
    padding: 10px;
    &:hover {
      cursor: pointer;
      background-color: #f9f9f9;
    }
  }
  .user_viewAccount {
    border-bottom: 0.5px solid #f9f9f9;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  // .user_signout {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
}

.ifSignedContainer {
  // width: 500px;
  position: relative;
}
.ifsigned_dropdownhidden {
  display: none;
  &:hover {
    cursor: pointer;
  }
}
.signupInfo_svg {
  &:hover {
    cursor: pointer;
  }
}
.linkaccount,
.linksignin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
