body {
  overflow-x: hidden;
}
.footer {
  width: 100vw;
  height: 250px;
  background-color: rgb(240, 240, 240);
  display: grid;
  align-items: center;
}
.footerContainer {
  color: #1a1a1a;
  height: 250px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  column-gap: 20px;
  align-items: center;
  /* justify-content: space-between; */
}

.developed {
  color: #4a4a4a;
  font-size: 1.2rem;
  margin-left: 80px;
}
.author {
  text-decoration: underline;
  color: #101010;
  font-size: 1.2rem;
  :hover {
    cursor: pointer;
  }
}
.footerlogo {
  width: 150px;
  height: 60px;
}
.footer_logo {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fork {
  color: #4a4a4a;
  font-size: 1.2rem;
  position: relative;
}
.here {
  text-decoration: underline;
  color: #101010;
}
